
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>That's my business</title>

  <!-- Bootstrap core CSS -->
  {% block stylesheets %}
  {% load static %}
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static "css/small-business.css" %}" rel="stylesheet">
  {% endblock stylesheets %}

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-menu-stef fixed-top">
    <div class="container">
      <a class="navbar-brand" href={% url 'mainIndex' %}>Pop-it-in !</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

          {% if user.is_authenticated %}
            <li class="nav-item inactive">
              <a class="nav-link" href="#">Hi {{ user.username }}!
                        </a>
            </li>
          {% endif %}
          <li class="nav-item active">
            <a class="nav-link" href={% url 'mainIndex' %}>Home
                <span class="sr-only">(current !)</span>
              </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">

            {% if user.is_authenticated %}
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            {% else %}
              <a class="nav-link" href="{% url 'login' %}">Login</a> 
            {% endif %}
          </li>

          <li class="dropdown">
            <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">Projects
                <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a class="stef" href="#">Manage your invoices</a></li>
              <li><a class="stef" href="ZTools1.html">Access your ZTools</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href={% url 'contact' %}>Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    {% block content %}
    {% endblock %}

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">That's my ideas !</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
