{% extends 'zpop_base.html' %}

{% block rightFrame %}
      
        <div class="row">
          <div class="col-sm-4">
            <div class="card h-70">
              <div class="card-body">
                <h2 class="card-title">Declare a new Zuora Tenant</h2>
                <p class="card-text">click here to add a new item</p>


                <!-- begin - modal popup to declare new Zuora tenant -->
                {% block extra_js%}
                <script src="http://malsup.github.com/jquery.form.js"></script>
                {% endblock %}
                <a class="btn btn-primary btn-sm btn-block btn-stef" data-toggle="modal" href=""{% url 'zloginNew' %}">Add New</a>
                
                <div class="modal hide" id="newZlogin">               
                    <script>
                        $('#modal').on('show.bs.modal', function (event) {
                            var modal = $(this)
                            $.ajax({
                                url: "{% url 'zloginNew' %}",
                                context: document.body
                            }).done(function(response) {
                                modal.html(response);
                            });
                        })
                    </script>
                </div>
                <!-- end - modal popup to declare new Zuora tenant -->

              </div>
            </div>
          </div>
          <!-- /.col-md-4 -->
          {% for zlogin in zloginList %}
          <div class="col-sm-4">
            <div class="card h-70">
              <div class="card-body">
                <h2 class="card-title">{{ zlogin.name }}</h2>
                <p class="card-text">{{ zlogin.userName }} for {{ zlogin.sid }}</p>
                <div class="card-footer">
                  <a href="#" class="btn btn-primary btn-sm btn-stef">Connect</a>
                  <a href="#" class="btn btn-primary btn-sm btn-stef">Test</a>
                  <a href="#" class="btn btn-primary btn-sm btn-stef">Modify</a>
                </div>
              </div>
            </div>
          </div>
          <!-- /.col-md-4 -->
          {% endfor %}
        </div>
{% endblock rightFrame %}
    